#navbar-color {
    background-color: #7A2430 !important;
}
#navbar-titel {
    color: white;
    margin-right: 40px;
    font-family: "Manuale", serif !important;
}
#logo2 {
    height: 50px;
    margin-right: 10px;
}
.nav-link {
    color: white !important;
    font-family: "Manuale", serif !important;
}

.button {
    background-color: #7A2430 !important;
    color: #7A2430 !important;
}
#title {
    font-weight: bold;
}

#textbox {
    margin-left: 20px;
    margin-top: 20px;
}
#fund {
    width: 100%;
}
#fundbox {
    margin-top: 20px;
}
#adam {
    width: 100%;
}
#adambox {
    margin-top: 20px;
}
body {
    overflow-x: hidden;
}
#section {
    background-color: #7A2430;
    height: 300px;
    width: 100vw;
    margin-top: 20px;
    margin-bottom: 1000px;
}
body::-webkit-scrollbar {
    display: none;
    margin: 0;
    padding: 0;
}